@page "/students"
@model StudentsList
@{
}
<h1>
    List students
    <a asp-page="../Students/Add" class="btn btn-lg btn-info">Add student</a>
</h1>
<table align="left" width="90%" class="table-bordered border-primary-subtle bg-light border-3 float-lg-start">
    @foreach (var student in Model.Students)
    {
        <tr class="text-center fw-semibold">
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Age</td>
            <td><a asp-page="Edit" asp-route-id="@student.Id" class="btn btn-warning">Edit student</a></td>
        </tr>
    }
</table>