@page "/students"
@model StudentsList
@{
}
<h1>List students</h1>
<h3><a asp-page="../Students/Add">Add student</a></h3>
<table align="left" width="300px" border="1">
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>@student.Id</td>
            <td>|</td>
            <td>@student.FirstName</td>
            <td>|</td>
            <td>@student.LastName</td>
            <td>|</td>
            <td>@student.Age</td>
            <td>|</td>
            <td><a asp-page="Edit" asp-route-id="@student.Id">Edit student</a></td>
        </tr>
    }
</table>