@*@page "/addDirector"
@model DirectorAdd
@{
}
<h2>@Model.Message</h2>
<form method="post" >
    <table align="left"> 
        <tr>
            <td>First Name: </td>
            <td><input type="text" name="firstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><input type="number" name="age" /></td>
        </tr>
        <tr>
            <td>Or select exist employee:</td>
                <select name="DirectorId">
                @foreach (var employee in Model.Directors)
                {
                <option value="@employee.Id">@employee.FirstName, @employee.LastName, @employee.Age</option>
                }
                </select>
            </td>
            <td>
                <select name="Teacher">
                @foreach (var employee in Model.Teachers)
                {
                <option value="@employee.Id">@employee.FirstName, @employee.LastName, @employee.Age</option>
                }
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" /> </td>
        </tr>
    </table>
</form>*@