@page "/employees"
@using SchoolsTest.Models;
@model EmployeesList
@{
}
<h1>
    List employees
    <a asp-page="../Employees/Add" class="btn btn-lg btn-info">Add employee</a>
</h1>
<table align="left" width="90%" class="table-bordered border-primary-subtle bg-light border-3 float-lg-start">
    @foreach (var employee in Model.Employees)
    {
        <tr class="text-center fw-semibold">
            <td>@employee.Id</td>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.Age</td>
            <td>
                <ul>
                    @foreach (var position in employee.Positions ?? Array.Empty<Position>())
                    {
                        <li> @position.Name </li>
                    }
                </ul>
            </td>
            <td><a asp-page="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Edit employee</a></td>
        </tr>
    }
</table>