@page "/employees"
@model EmployeesList
@{
}
<h1>List employees</h1>
<table align="left" width="350px" border="1">
    @foreach (var employee in Model.Employees)
    {
        <tr>
            <td>@employee.Id</td>
            <td>|</td>
            <td>@employee.FirstName</td>
            <td>|</td>
            <td>@employee.LastName</td>
            <td>|</td>
            <td>@employee.Age</td>
            <td>|</td>
            <td>@employee.Job</td>
            <td>|</td>
            <td><a asp-page="Edit" asp-route-id="@employee.Id">Edit employee</a></td>
        </tr>
    }
</table>