@page "/{floorId}/rooms"

@model RoomsOnFloorList

<h1>List rooms on floor</h1>
<h3><a asp-page="../Rooms/Add" asp-route-floorId="@Model.FloorId">Add room</a></h3>
<table align="left" width="300px" border="1">
    @foreach (var room in Model.Rooms)
    {
        <tr>
            <td>@room.Id</td>
            <td>|</td>
            <td>@room.Number</td>
            <td>|</td>
            <td>
                <ul>
                    @foreach (var roomType in room.RoomTypes)
                    {
                        <li> @roomType.Name </li>
                    }
                </ul>
            </td>
            <td>|</td>
            <td><a asp-page="Edit" asp-route-id="@room.Id">Edit</a></td>
        </tr>
    }
</table>