@page "/{floorId}/rooms"

@model RoomsOnFloorList

<h1>
    List rooms on floor
    <a asp-page="../Rooms/Add" asp-route-floorId="@Model.FloorId" class="btn btn-lg btn-info">Add room</a>
</h1>
<table align="left" width="90%" class="table-bordered border-primary-subtle bg-light border-3 float-lg-start">
    @foreach (var room in Model.Rooms)
    {
        <tr class="text-center fw-semibold">
            <td>@room.Id</td>
            <td>@room.Number</td>
            <td>
                <ul>
                    @foreach (var roomType in room.RoomTypes)
                    {
                        <li> @roomType.Name </li>
                    }
                </ul>
            </td>
            <td><a asp-page="Edit" asp-route-id="@room.Id" class="btn btn-warning">Edit</a></td>
        </tr>
    }
</table>